@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Main Configuration */

  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
    background-color: #f2f4fc;
    font-family: Roboto, sans-serif;
    color: #292e47;
    font-size: 14px;
    line-height: 30px;
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
  }

  h2 {
    font-size: 50px;
    font-weight: bold;

  }

  h3 {
    font-size: 40px;
    font-weight: bold;

  }

  h4 {
    font-size: 24px;
    font-weight: bold;

  }

  header {
    z-index: 99;
  }

  /* NavBar Section */

  header {
    margin: 0;
  }
  header li {
    list-style: none;
  }
  
  header a {
    font-size: 1rem;
    text-decoration: none;
    color: #6b708d;
    font-weight: 500;
  }

      /* Navbar - Hamburger */

  .nav-menu li:first-child a {
    color: #0082f3;
  }
  .navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 24px; */
    max-width: 90%;
    margin: 50px auto;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  .nav-link {
    transition: 0.7s ease;
  }
  .nav-link:hover {
    color: black;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }
  .navbar-contact-btn {
    color: #ffff;
    background-color: #072ac8;
    padding: 15px 30px;
  }
  
  .navbar-contact-btn:hover {
    background-color: #292e47;
  }

  /* Container 1 - Hero Section */

  .hero-section {
    padding-top: 100px;
  }
  
  .hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero-left-div {
    max-width: 530px;
  }
  
  .hero-h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #292e47;
    font-size: 60px;
    line-height: 130%;
    font-weight: bold;
  }
  
  .hero-body {
    margin-top: 0px;
    margin-bottom: 40px;
    max-width: 435px;
    color: #6b708d;
    font-size: 20px;
    line-height: 150%;
  }
  
  .hero-left-buttons {
    display: block;
    justify-content: flex-start;
    align-items: center;
  }
  
  .hero-button-blue {
    margin-left: 20px;
    margin-right: 40px;
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
    color: white;
    text-decoration: none;
  }

  .hero-button-blue:hover {
    background-color: #292e47;
    cursor: pointer;
  }
  
  .hero-button {
    color: #6b708d;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .hero-right-div {
    position: relative;
  }
  
  .card-1 {
    position: absolute;
    left: -19%;
    top: 0%;
    right: auto;
    bottom: auto;
    max-width: 375px;
  }
  
  .hero-img {
    width: 560px;
  }
  
  .card-2 {
    position: absolute;
    left: auto;
    top: auto;
    right: -25%;
    bottom: -22%;
    max-width: 375px;
  }
  
  /* Container 2 - Companies Section */
  
  .companies-logos {
    margin-top: 130px;
  }
  
  .logos-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  
  .company-logo {
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
    justify-content: center;
    align-items: center;
  }
  
  .company-logo:hover {
    filter: grayscale(1);
    transition: all 300ms ease;
  }

    /* Container 3 - Projects Section */

    .projects-section {
        margin-top: 200px;
        color: #292e47;
        font-size: 24px;
        line-height: 115%;
        font-weight: 500;
        flex-direction: column;
    }

    .projects-section h2 {
        line-height: 36px;
        margin-top: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #292e47;
    }

    .projects-section img {
        width: 340px;
        height: 240px;
    }
    
    .projects-box{
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    
        margin-top: 70px;
    }
    
    .projects h3{
        margin: 30px 30px 20px;
        color: #292e47;
        font-size: 24px;
        line-height: 115%;
        font-weight: 500;
        font-weight: bold;
    }
    
    .projects p{
        margin: 30px 30px 20px;
        color: #292e47;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 17px;
        font-weight: 400;
    }
    
    .projects a{
        margin: 30px;
        color: #072ac8;
        font-size: 17px;
        font-weight: 500;
        text-decoration: none;
    }
    
    .projects-description{
        width: 340px;
        height: 204px;
        background: white;
        display: flex;
        flex-direction: column;
    }



    /* Container 4 - Testimonials Section */

  .testimonials-section {
    position: relative;
    max-width: 1320px;
    padding: 0px 30px;
    height: 622px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #292e47;
    background-image: url(https://res.cloudinary.com/dhaz5vv7r/image/upload/v1669365556/midterm/SRC/testimonial-section/orbit_mpqmww.png);
    background-position: 0px 0px;
    background-size: contain;
    color: #292e47;
  }
  
  .testimonials-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .testimonials-box h3{
    color: #ecf7ff;
    font-size: 40px;
    text-align: center;
    margin: 125px 0px 10px;
}

  .testimonials-box p{
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
    color: #ffc600;
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;
    text-align: center;
    margin-top: 125px;
    
}
  
  .testimonials-client {
    display: flex;
    align-items: center;
    margin-top: 100px;
  }
  
  .client-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(https://res.cloudinary.com/dhaz5vv7r/image/upload/v1669365556/midterm/SRC/testimonial-section/profile_rhwvuq.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .client-info {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .client-name {
    color: #a2d6f9;
    font-size: 17px;
  }
  
  .client-web {
    color: #ecf7ff;
    font-size: 13px;
  }
  
  .emoji-top-left {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 5%;
    margin-left: 10%;
    background-image: url(https://res.cloudinary.com/dhaz5vv7r/image/upload/v1669365556/midterm/SRC/testimonial-section/memoji-1_w36swh.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .emoji-top-right {
    position: absolute;
    width: 150px;
    height: 150px;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: 5%;
    margin-right: 10%;
    background-image: url(https://res.cloudinary.com/dhaz5vv7r/image/upload/v1669365556/midterm/SRC/testimonial-section/memoji-4_n5rxdk.png);
    background-position: 50% 50%;
    background-size: contain;
  }
  
  .emoji-bottom-left {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding-left: 0%;
    background-image: url(https://res.cloudinary.com/dhaz5vv7r/image/upload/v1669365552/midterm/SRC/testimonial-section/memoji-3_kryrls.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .emoji-bottom-right {
    position: absolute;
    width: 150px;
    height: 150px;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-right: 10%;
    margin-bottom: 5%;
    background-image: url(https://res.cloudinary.com/dhaz5vv7r/image/upload/v1669365553/midterm/SRC/testimonial-section/memoji-2_eboe27.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* Container 5 - Services Section */
  
  .services-section {
    margin-top: 200px;
    padding: 0 30px;
  }
  
  .services-grid {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    margin-top: 70px;
  }
  
  .services-box {
    width: 340px;
    max-height: 380px; 
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .services-box-title {
    margin: 30px 30px 20px;
  }

  .services-box-text {
    margin: 0px 30px 10px;
    font-size: 17px;
    line-height: 20px;
  }

  .services-link {
    margin: 30px;
    color: #072ac8;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }

  
  .service-icon-1 {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 50%;
    background-color: #ecf7ff;
    background-image: url(https://res.cloudinary.com/dhaz5vv7r/image/upload/v1669365552/midterm/SRC/services-section/icons/1_lfckoo.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .service-icon-2 {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 50%;
    background-color: #ecf7ff;
    background-image: url(https://res.cloudinary.com/dhaz5vv7r/image/upload/v1669365552/midterm/SRC/services-section/icons/2_zwi4pb.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .service-icon-3 {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 50%;
    background-color: #ecf7ff;
    background-image: url(https://res.cloudinary.com/dhaz5vv7r/image/upload/v1669365552/midterm/SRC/services-section/icons/3_pyaduu.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  
  .services-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

/* Container 6 - Subscribe Section */

.subscribe-section {
    max-width: 1320px;
    height: 500px;
    max-width: 1320px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffc600;
    padding: 0px 30px;
  }
  
  .subscribe-form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .subscribe-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #292e47;
    font-size: 40px;
    line-height: 44px;
  }
  
  .subscribe-text {
    font-size: 17px;
    color: #6b708d;
    margin-bottom: 50px;
  }
  
  .form-raw {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
  }
  
  .subs-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-text-wrapper {
    position: relative;
  }
  
  .form-text-img {
    position: absolute;
    left: 7%;
    top: 30%;
    right: auto;
    bottom: auto;
    width: 30px;
    height: 30px;
    background-image: url(https://res.cloudinary.com/dhaz5vv7r/image/upload/v1669365554/midterm/SRC/newsletter/icon/mail_lj0g6b.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  
  .text-field {
    all: unset;
    width: 393px;
    height: 80px;
    font-size: 16px;
    margin-bottom: 0px;
    padding-left: 70px;
    background-color: #ecf7ff;
    border: 1px solid #cccccc;
  }
  
  .subscribe-button {
    width: 180px;
    height: 80px;
    margin-left: 20px;
    padding-right: 60px;
    padding-left: 60px;
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
    display: inline-block;
    padding: 9px 15px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }
  
  .subscribe-button:hover {
    background-color: #292e47;
  }

  /* Footer */

.footer{
  margin-top: 200px;
  padding-bottom: 100px;
  padding: 0px 30px;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.footer-content{
  display: flex;
  width: 260px;
  max-width: 260px;
  flex-direction: column;
}

.footer-logo{
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
}

.footer-adress{
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 30px;
  color: #6b708d;
  font-weight: 400;
}

.footer-links{
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.footer-link{
  font-size: 16px;
  text-decoration: none;
  line-height: 20px;
  font-weight: 400;
  color: #072ac8;
}
/* ------------- */

/* Contact Page */

.contact {
    margin-top: 0px;
    padding: 0px 30px;
    margin: 0px 25px;
  }
  
  .contact-container {
    margin-top: 200px;
  }
  
  .contact-heading {
    margin-top: 0px;
    margin-bottom: 80px;
    font-size: 60px;
    line-height: 110%;
  }
  
  .form {
    margin: 0 0 15px;
  }
  
  .contact-form-wrapper {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .contact-title {
    margin-bottom: 10px;
    color: #6b708d;
    font-size: 20px;
    font-weight: 400;
  }
  
  .contact-text-field {
    all: unset;
    width: 100%;
    height: 70px;
    padding-left: 20px;
    margin-top: 10px;
    border: 1px none #000;
    background-color: rgba(107, 112, 141, 0.1);
  }
  
  .textarea {
    height: 200px;
    padding-top: 20px;
  }
  
  #form-1 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
  
  #form-2 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 3;
    grid-column-end: span 3;
  }
  
  #form-3 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 3;
    grid-column-end: span 3;
  }
  
  #form-4 {
    grid-row-start: span 3;
    grid-row-end: span 3;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
  
  #form-5 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
  
  .primary-btn-contact-form {
    all: unset;
    width: 96%;
    height: 50px;
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  
  .primary-btn-contact-form:hover {
    background-color: #292e47;
  }

  .form-done {
    display: none;
  }

  .form-fail {
    display: none;
  }
  
/* ----------------- */
  /* Simplify Page CSS */

  .simplify-section { 
    margin-top: 70px;
    padding: 0px 30px;
}

.simplify-container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

.simplify-title {
    font-size: 60px;
    line-height: 44px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.simplify-content{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.simplify-description{
    color: #6b708d;
    font-size: 24px;
    font-weight: 500;
}

.simplify-timeframe{
    display: flex;
}

.simplify-completion{
    margin-right: 5px;
    font-size: 20px;
}

.simplify-date{
    color: #6b708d;
    font-size: 20px;
}

.simplify-img{
  width: 100%;
  height: 444px;
  object-fit: cover;
  margin: 50px auto;
}

.simplify-text{
    margin-top: 70px;
    font-size: 20px;
    line-height: 30px;
    font-size: 20px;
    color: #292e47;    
}

.simplify.text {
    margin-bottom: 10px;
    font-size: 20px;
    color: #292e47;    
}


